<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body style= "background-color:powderblue;">
	<h1 style="font-family:verdana;" "text-align: center;"  "color:blue;">Faculty</h1>

	{% if request.user.is_authenticated %}
	<h1>Hi {{request.user.username|title}}</h1>
	{% else %}
		<p>Welcome!</p>
	{% endif %}


	<h1>Students</h1>
	<p>{{facultys.count}} facultys </p>
	{% for stud in facultys %}
	<p>First Name: {{ stud.first_name}}</p>
	<p>Last Name: {{ stud.last_name}}</p>
	<p>middle Name: {{ stud.middle_name}}</p>
	<p>Position : {{ stud.Position}}</p>
	<p>Bio: {{ stud.Bio}}</p>
</p>----------------------------------------------------------------------------------------------------</p>
	{% endfor %}
	
</body>s