<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body style="text-align: center;" "background-color:powderblue;">
<h1 style="font-family:verdana;" style="color:blue;">This is a Professors</h1>

	{% if request.user.is_authenticated %}
	<h1 tyle="font-family:courier;">Hi {{request.user.username|title}}</h1>
	{% else %}
		<p>Welcome!</p>
	{% endif %}
	
	
	<h1 tyle="font-family:courier;">Professors</h1>
	<p>{{professors.count}} professors </p>
	{% for prof in professors %}
	<p tyle="font-family:courier;">{{ prof.first_name}}{{ prof.last_name}}</p>
	{% endfor %}
</body>
</html>